html{
    display: flex;
    justify-content: center;

    background-color: rgb(199,43,80);

    text-align: center;
    vertical-align: middle;

    color: snow;
    
}

img{
    height: 300px;
}

a:link {
    color: snow;
    background-color: transparent;
    text-decoration: none;
}
  
a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}
  
a:hover {
    color: pink;
    background-color: transparent;
    text-decoration: underline;
}
  
a:active {
    color: pink;
    background-color: transparent;
    text-decoration: underline;
}

.header{

    font-size: 20px;
    
}

.months{

    margin-top: 50px;


}
.border{
    border-style: solid;
    border-width: 2;
    border-color: green;
}

.essay{
    width: 500px;
}

.container{
    
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;

    height:auto;
    width:75em;

}
